@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Oswald:wght@200..700&display=swap');

/* Fuentes */
.cinzel-Font {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

/* Body y divs */
body  {
    /*background-image: url('images/fondo.webp');*/
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    
    font-family: 'Cinzel', serif;
    font-size: large;
    margin: 15px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

span {
    font-weight: bold;
}

td.botones {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 30px;
}
td.botones input[type="button"] {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50%;
    border-radius: 0;
}